.divCardClients {
  background: #fff;
}

.CardClients {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.CardDescription {
  display: grid;
  justify-content: flex-end;
  margin-right: 3rem;
}

.logoClients {
  margin-right: 1rem;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}


@media screen and (min-width: 200px) and (max-width: 768px) {
  .divCardClients {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .CardClients {
    display: grid;
  }
}